{{ define "main" }}
<div class="post-layout">
    <article class="post-content">
        <a href="javascript:history.back()" class="go-back">&lt; Go Back</a>
        <div class="post-header">
            <h1>{{ .Title }}</h1>
            <div class="post-meta">
                {{ if ne .Params.showAuthor false }}
                <span>{{ .Site.Params.author }}</span>
                {{ end }}
                {{ if ne .Params.showDate false }}
                {{ if ne .Params.showAuthor false }}<span class="meta-sep">•</span>{{ end }}
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006년 01월 02일" }}</time>
                {{ end }}
            </div>
        </div>

        <div class="post-body">
            {{ .Content }}
        </div>
    </article>

    {{ if and .TableOfContents (ne .Params.toc false) }}
    <aside class="toc-sidebar">
        <div class="toc-wrapper">
            <nav class="toc-nav">
                {{ .TableOfContents }}
            </nav>
        </div>
    </aside>
    {{ end }}
</div>
{{ end }}
